* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Kanit Reg;
  src: url(/assets/font/Kanit-Regular.ttf);
}
@font-face {
  font-family: Kanit Med;
  src: url(/assets/font/Kanit-Medium.ttf);
}
@font-face {
  font-family: Kanit SB;
  src: url(/assets/font/Kanit-SemiBold.ttf);
}
@font-face {
  font-family: Kanit Bld;
  src: url(/assets/font/Kanit-Bold.ttf);
}
.hamburger-stroke {
  width: 1.5625rem;
  border: 2px solid #191919;
}

.hamburger-wrap {
  gap: 0.3438rem;
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 0.1719rem solid #191919;
}

.mobile-menu-wrap {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1100px) {
  .mobile-menu-wrap {
    display: none;
  }
}

.mobile-logo {
  max-width: 100%;
}

.mobile-logo {
  width: 45px;
}

.desktop-logo {
  width: 25%;
}

.desktop-menu-btn {
  font-size: 1rem;
  color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  background-color: #191919;
  border-radius: 1.5rem;
  font-family: Kanit Med;
}

.desktop-menu-btn-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  border-radius: 2rem;
  border: 2px solid #191919;
}

.desktop-menu-btns {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
}

.desktop-menu-btn-txt {
  font-family: Kanit Med;
  font-size: 1rem;
  color: #1A1A1A;
  white-space: nowrap;
}

.desktop-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1563rem solid #191919;
}

.desktop-header-wrap {
  padding: 0 5rem;
  display: none;
}
@media (min-width: 1100px) {
  .desktop-header-wrap {
    display: block;
  }
}
@media (min-width: 1400px) {
  .desktop-header-wrap {
    padding: 0 9rem;
  }
}

.body-pad {
  padding: 1.5rem;
}
@media (min-width: 1100px) {
  .body-pad {
    padding: 0 5rem;
  }
}
@media (min-width: 1400px) {
  .body-pad {
    padding: 0 9rem;
  }
}

.article-photo {
  max-width: 100%;
  margin-bottom: 0.625rem;
}
@media (min-width: 1100px) {
  .article-photo {
    margin-bottom: 0rem;
    width: 60%;
  }
}

.h1-p, .h3-p, .article-block-txt, .enter-btn {
  font-family: Kanit Bld;
  font-size: 3rem;
  line-height: 3rem;
  color: #1A1A1A;
}
@media (min-width: 1100px) {
  .h1-p, .h3-p, .article-block-txt, .enter-btn {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

.article-block, .enter-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border: 0.125rem solid #191919;
}

.article-block-txt, .enter-btn {
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-block-wrap {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  margin-top: 1.3rem;
}
@media (min-width: 1100px) {
  .article-block-wrap {
    margin-top: 2rem;
  }
}

.date-time-p {
  font-size: 1.25rem;
  font-family: Kanit Med;
  line-height: 24px;
  letter-spacing: -0.08em;
  color: #BABABA;
  margin-top: 1.3rem;
}
@media (min-width: 1100px) {
  .date-time-p {
    margin-top: 1.5rem;
  }
}

.h1-article-wrap {
  padding-bottom: 2.5rem;
  border-bottom: 0.1563rem solid #191919;
  margin-top: 2rem;
}
@media (min-width: 1100px) {
  .h1-article-wrap {
    display: none;
  }
}

.desktop-h1-article-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: none;
  margin-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 0.1563rem solid #191919;
}
@media (min-width: 1100px) {
  .desktop-h1-article-wrap {
    display: flex;
  }
}

.enter-btn {
  background-color: #fff;
  margin-top: 1rem;
}

.h3-p {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.three-article-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  overflow: auto;
  border-bottom: 0.1563rem solid #191919;
}
@media (min-width: 1100px) {
  .three-article-wrap {
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .three-art-photo {
    width: 100%;
  }
}
.last-sec-inner-img {
  width: 35%;
  margin-bottom: 0rem;
}

.last-sec-d-t {
  font-size: 0.7rem;
  margin-top: 0rem;
}
@media (min-width: 1100px) {
  .last-sec-d-t {
    font-size: 1.25rem;
  }
}

.last-sec-h3 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 0.5rem;
}
@media (min-width: 1100px) {
  .last-sec-h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.last-enter-btn {
  font-family: Kanit Bld;
  font-size: 0.8125rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 9px;
  background-color: #fff;
  border: 0.125rem solid #191919;
  margin-top: 0.8rem;
}
@media (min-width: 1100px) {
  .last-enter-btn {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.last-sec-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.last-sec-con {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.last-sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 1100px) {
  .last-sec {
    flex-direction: row;
    margin-top: 4rem;
  }
}

@media (min-width: 1100px) {
  .last-sec-rect {
    height: 44.0625rem;
  }
}
@media (min-width: 1500px) {
  .last-sec-rect {
    height: 53.375rem;
  }
}
.social-wrap {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.copywright-txt, .footer-links {
  font-size: 0.8125rem;
  font-family: Kanit Reg;
  color: #BABABA;
  line-height: 1.5rem;
}

.social-copywright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.footer-links {
  color: #191919;
}

.footer-links-wrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: 0.125rem solid #E4E4E4;
}

@media (min-width: 1100px) {
  .mobile-footer {
    display: none;
  }
}
.footer-links-copywright {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.desktop-footer-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.125rem solid #E4E4E4;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
}

.desktop-footer-links-wrap {
  margin-top: 0rem;
  padding-top: 0rem;
  border: none;
}

.desktop-footer {
  display: none;
}
@media (min-width: 1100px) {
  .desktop-footer {
    display: block;
  }
}

.d-t-article {
  margin-bottom: 2rem;
}

.article-p {
  font-family: Kanit Reg;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.article-p-2 {
  margin-top: 1rem;
}

@media (min-width: 1100px) {
  .info-article-page {
    margin-top: 2rem;
  }
  .article-pg-photo {
    margin-bottom: 3rem;
  }
}